<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 border border-gray-200">
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <label class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
          <input formControlName="email" type="email" 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            [class.border-red-500]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <p class="mt-1 text-xs text-red-600 font-medium">Email inválido o requerido</p>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Contraseña</label>
          <input formControlName="password" type="password" 
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          
          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <p class="mt-1 text-xs text-red-600 font-medium">Mínimo 6 caracteres</p>
          }
        </div>

        <button type="submit" [disabled]="loginForm.invalid"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed transition-all">
          Entrar al Sistema
        </button>
        <a href="http://localhost:3000/auth/google" class="btn-google">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" width="20">
    Entrar con Google
  </a>
      </form>

    </div>
  </div>
</div>